body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar{
  padding: 10px;
  display: flex;
  
}

.logo-img{
  width: 50px;
  height: 50px;
}
.navbar-link{
  padding: 10px;
  
}

.navbar-button-1{
  position: absolute;
  right: 200px;
  width: 150px;
  cursor: pointer;
}
.navbar-button-2{
  position: absolute;
  right: 80px;
  width: 150px;
  cursor: pointer;
}
.navbar-button-text{

}

.navbar-button-login{
  position: absolute;
  right: 0px;
  top: 15px;
}

.card{
  width: 100%;
  height: auto;
}

.card-item{
  margin: 6%;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 0.1);
  background-color: #fff;
  width: 20%;
  border-radius: 12px;
  box-shadow: 13px 13px 10px -7px rgba(0, 0, 0, 0.1);
  float: left;
} 

.card-item:hover{
  box-shadow: 10px 30px 18px -8px rgba(0, 0, 0, 0.1);
  transform: scale(1.05, 1.05);
}

.card__img{
  width: 100%;
  height: 235px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.card__info{
  background-color: #fff;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  padding: 16px 24px 24px 24px;
}

.card__category{
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 500;
  color: #868686;
  background-color: #fff;
}

.card__title{
  margin-top: 5px;
  margin-bottom: 10px;
  font-family: "Raleway", sans-serif;
  background-color: #fff;
  text-transform: capitalize;
}

.button1 {
  padding: 5px 8px;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  color: #868686;
  background-color: #fff;
  outline: none;
  border: 1px solid black;
  cursor: pointer;
}

.button{
  padding: 5px 8px;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  color: #868686;
  background-color:#fff;
  outline: none;
  border: 1px solid black;
  cursor: pointer;
}

input[type="text"]:focus {
  outline: none;
}
input[type="text"]:focus:hover {
  outline: none;
}
input[type="email"]:focus {
  outline: none;
}
input[type="email"]:focus:hover {
  outline: none;
}

input[type="password"]:focus {
  outline: none;
}
input[type="password"]:focus:hover {
  outline: none;
}

.box{
  background-color:#efefef;
  /* border-radius: 5%; */
  padding: 20px;
  box-shadow: #868686;
}

.center1 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.resize{
  width: 200px;
  height: 30px;
}

input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1;
}

#root{
  width: 100%;
}

.Timeline{
  display: flex;
  flex-direction:column;
  margin: 40px 0;
}

.Timeline::after{
  background-color: #e17b77;
  content:'';
  position: absolute;
  left: calc(50%-2px);
  width: 4px;
  height: 100%;
}

.Timelinelist-Item{  
  display: flex;
  /* justify-content: flex-end; */
  padding-right: 20px;
  margin: 10px;
  width: 50%;
}

.Timelinelist-Item:nth-child(odd){
  /* align-self: flex-end; */
  justify-content: flex-start;
  padding-right: 0px;
  padding-left: 20px;

}

.Timelinelist-Item-Content{
  background-color: #fff;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  align-items: flex-end;
  padding: 15px;
  width: 400px;  
  max-width: 85%;
  text-align: right;

}
.Timelinelist-Item:hover{
  box-shadow: 10px 30px 18px -8px rgba(0, 0, 0, 0.1);
  transform: scale(1.05, 1.05);
}
.Timelinelist-Item:nth-child(odd) .Timelinelist-Item-Content{
  align-self: flex-start;
  text-align: right;
  padding-left: 30px;

}

.map-container{
  height: 800px;
}
/* .Timelinelist-Item-Content:place{
  font-size: 16px;
  line-height: 24px;
  margin: 15px 0;
  max-width: 250px;
} */

.Timelinelist-Item-Content::after{
  content:' ';
  background-color: rgb(153, 17, 17);
  position: absolute;
  transform: rotate(45deg);
  left: 55.5px;
  top: calc(50%-7.5px);
  width: 15px;
  height: 15px;
}